<div class="max-w-md">
  <div class="text-5xl font-bold text-gray-900 mb-4">
    {{section.settings.title }}
  </div>
  <div class="my-4">
    <p class="text-base md:text-xl leading-normal">
      {{ section.settings.subtext_title }}
    </p>
  </div>
</div>

{% schema %}
{
  "name": "Template 404",
  "tag":"section",
  "class":"flex items-center justify-center text-center py-7 h-screen",
  "settings" : [
    {
      "type":"text",
      "id":"title",
      "default":"404 12323",
      "label":"404 heading Title"
    },
    {
      "type": "text",
      "id": "subtext_title",
      "default": "Page not found sds",
      "label": "404 subtext title"
    }
  ]
}
{% endschema %}