@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }
}
/* Weird sass comment */
.radio-group input[type='radio'] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 50%;

  &:checked {
    outline: solid 2px rgb(63, 191, 80);
  }
}
